src/com/example/TaxService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://example.com/" xmlns:tns="http://example.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="calculateIncomeTax" type="tns:calculateIncomeTax"/>

  <xs:element name="calculateIncomeTaxResponse" type="tns:calculateIncomeTaxResponse"/>

  <xs:complexType name="calculateIncomeTax">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="calculateIncomeTaxResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

